<!-- templates/home.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
    <h1>Home Page</h1>
    <p>This is the Home page.</p>
    <a href=" {{url_for('about')}} "> Go Home </a>
    <!-- <a href="/about"> about </a> -->



    <!-- <a href="{{ url_for('contact', name='John', age=25) }}">Show Contact</a> -->

    <a href="/contact/John/25">Show Contact</a><br/>
    <a href="/contact">Show Contact</a><br/>

        
    <script src="{{ url_for('static', filename='js/test.js') }}"></script>
</body>
</html>